.setCustomInput label {
    color: #000 !important;
}
.setCustomInput input {
    color: #000 ;
}

.setCustomInput1 div {
    color: #000 ;
}

.setCustomInput1 label {
    color: #000 !important;
}

.setCustomInput textarea {
    color: #000 ;
}